#value{
	margin: 6px;
    box-shadow: 0px 0px 0.1px 1px #c1bdbde0;
    padding: 30px;
}
.btn a{
	padding: 10px 17px;
    font-size: 17px;
    color: white;
    border: none;
    background-color: #0024ff;
    border-radius: 5px;
	position:relative;
	text-decoration:none;
}
a:after{
	background-color: red;
    height: 18px;
    width: 29px;
    position: absolute;
    content: '99+';
    color: white;
    bottom: 28px;
    left: 50px;
    border-radius: 24px;
    padding: 2.5px 2.5px 1px 8px;
}

